nav .brand-logo
	padding-left 15px

nav .brand-icon
	display inline !important
	vertical-align middle

.main-area
	margin-top: 40px

.add-cart
	margin-top: 25px

.sell-price
	display: inline-block

.dropdown-content li>span
	color #B71C1C

.btn-flat.cancel
	padding-top 10px
	min-height 54px