nav .brand-logo
	padding-left 15px

nav .brand-icon
	display inline !important
	vertical-align middle

.main-area
	margin-top: 40px

.padding-5px-right
	padding-right 5px

.add-cart
	margin-top 5px

.sell-price
	font-size 25px

.dropdown-content li>span
	color #B71C1C

.btn-flat.cancel
	height 54px
	line-height 56px

.card-panel.bg-money
	background url(/images/cash-register.jpg)
	background-size: contain
	background-repeat: no-repeat
	background-position-x: right

.width-100
	width: 100%