<h4><i class="material-icons">view_list</i> Cardápio</h4>
<table class="highlight">
	<thead>
		<tr>
			<th>Produto</th>
			<th>Preço</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Muqueca de camarão</td>
			<td>R$30,00</td>
			<td>
				<a href="" class="waves-effect waves-light btn-flat white-text amber">editar</a>
			</td>
		</tr>
		<tr>
			<td>Poção de arroz</td>
			<td>R$3,00</td>
			<td>
				<a href="" class="waves-effect waves-light btn-flat white-text amber">editar</a>
			</td>
		</tr>
		<tr>
			<td>Coca Cola 2L</td>
			<td>R$4,50</td>
			<td>
				<a href="" class="waves-effect waves-light btn-flat white-text amber">editar</a>
			</td>
		</tr>
		<tr>
			<td>Suco de fruta 1L</td>
			<td>R$3,00</td>
			<td>
				<a href="" class="waves-effect waves-light btn-flat white-text amber">editar</a>
			</td>
		</tr>
	</tbody>
</table>