<div class="row">
	<div class="col m4">
		<div class="card small">
			<div class="card-content">
				<ul>
					<li>Muqueca de camarão (1x) R$30,00</li>
					<li>Poção de arroz (1x) R$3,00</li>
					<li>Coca cola 2L (1x) R$4,50</li>
					<li>Suco de fruta 1L (1x) R$3,00</li>
				</ul>
			</div>
			<div class="card-action">
				TOTAL: <span class="amber-text">R$40,50</span>
				<div class="right">
					<i class="material-icons left no-margin">schedule</i> 16:30h
				</div>
			</div>
		</div>
	</div>
</div>