<h4><i class="material-icons">shopping_basket</i> Caixa</h4>
<div class="row">
	<div class="col m6">
		<div class="fake-label">
			Itens adicionados
		</div>
		<ul class="collection">
			<li class="collection-item">
				<div>
					Muqueca de camarão
					<div class="secondary-content">
						<span class="left padding-5px-right amber-text">(1x) R$30,00</span>
						<a href="#!"><i class="material-icons red-text">delete</i></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="col m6">
		<div class="card-panel bg-money">
			<div class="row">
				<div class="col m12">VALOR TOTAL:</div>
			</div>
			<div class="row">
				<div class="col m12"><h3><sup class="sell-price">R$</sup>30,00</h3></div>
			</div>
		</div>
		<div class="row">
			<div class="col m10">
				<div class="input-field col s12">
					<select>
						<option value="1">Muqueca de camarão (R$30,00)</option>
						<option value="2">Poção de arroz (R$3,00)</option>
						<option value="3">Coca cola 2L (R$4,50)</option>
						<option value="4">Suco de fruta 1L (R$3,00)</option>
					</select>
					<label>Acrescentar item</label>
				</div>
			</div>
			<div class="col m2">
				<a class="btn-floating btn-large waves-effect waves-light red darken-4 add-cart"><i class="material-icons">add</i></a>
			</div>
		</div>
		<div class="row">
			<div class="col m6">
				<a class="waves-effect waves-red btn-flat cancel">cancelar pedido</a>
			</div>
			<div class="col m6">
				<a class="waves-effect waves-light btn-large red darken-4 width-100"><i class="material-icons right">thumb_up</i>finalizar</a>
			</div>
		</div>
	</div>
</div>